*{
    padding: 0;
    margin-top: 0;
}
body{
    font-family: Lato;
}
.bennar-container{
display: flex;
background: rgba(229, 84, 115, 0.10);
padding: 50px 240px 0px 240px;
align-items: center;
}
.bennar-title{
     color: #272727;
     font-size: 80px;
     font-weight: 800;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473; 
    padding: 20px 43px;
}
.bennar-container.profile-photo{
    width: 635px;
    hght: 800px;
    
}
/* main reletive style */
.container-section{
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    margin-top: 128px;
    padding: 100px 429px 100px 395px;
}